<!DOCTYPE html>
<html>

<head>
   <title>weather</title>
   <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href="/css/styles.css">
   <meta name="viewport" content="width=device-width , initial-scale=1">
</head>

<body>
   <div class="main-content">
      <h1>Weather forecast</h1>
      <label>Select below option to get weather report</label>
      <hr />
      <button id="cityNameButton">City Name</button>
      <button id="cityIdButton">City Id</button>
      <button id="cityCoordinateButton">Geographic Coordinates</button>
      <button id="cityZipButton">Zip code</button>
      <hr />
      <form id="cityName" class="displayNone">
         <label>Enter City name :</label><input placeholder="City Name"><br />
         <button id="search">Search</button>
      </form>
      <form id="cityId" class="displayNone">
         <label>Enter City Id :</label><input placeholder="City Id"><br />
         <button id="search">Search</button>
      </form>
      <form id="cityLat" class="displayNone">
         <label>Enter latitude :</label><input placeholder="latitude">
         <label>Enter longitude :</label><input placeholder="longitude"><br />
         <button id="search">Search</button>
      </form>
      <form id="cityZip" class="displayNone">
         <label>Enter Zip code :</label><input placeholder="Zip code"><br />
         <button id="search">Search</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>

   </div>
   <script src="/js/app.js"></script>
</body>

</html>